---
import { Image } from "astro:assets";
import down_arrow_image from "../images/down-arrow.png";

---

<section class="about" id="about_me">
    <div class="about_container">
        <h1 class="smooth">About me..</h1>
        <p class="smooth">Hi. I'm Ridwan Bagoes Setiawan. <b>I love programming!</b> <u>i started to learn programming at 14</u>. Until now, i think that day is one of the most important thing in my life. It's because when i started programming i thought i found my <u>passion</u>. The <q>productive thing</q> that i like! I'll use all of my free time for learning it deeply instead of playing games, playing with friends, or watching animes.</p>
        <p class="smooth"><u>I like to make some projects for improving my programming skill</u>. I always searching time to learn something new about it. When i'm at school, hometown, even when i go to mall or supermarket. I always want to improve my programming skills everywhere with whether using smartphone or laptop.</p>
        <p class="smooth"><u>My dream is become a FullStack Developer</u> because of that, i never want to having a single day in my life without learning / doing programming. That's my <b>determination</b>. Even though sometimes it's frustrating, stressing, and makes me sick, I'll remember why am i start to do this. I believe that there's myself in the future that encourage me and saying, "Please don't give up yet. You can do this! You're on the right path!"</p>
        <p class="quote smooth"><q>It's hard, but it's worth it.</q></p>
    </div>
    <div class="down_arrow">
        <a href="#showcase">
            <Image src={down_arrow_image} alt="down arrow" width={30} />
        </a>
    </div>
</section>
