---

---

<section class="about" id="about_me">
    <div class="about_container">
        <h1>About me..</h1>
        <p>Hi. I'm Ridwan Bagoes Setiawan. <b>I love coding!</b> <u>i start coding at 14</u>. Until now, i think that day is one of the most important thing in my life. It's because when i start coding that day i feel like maybe i found my <u>passion</u>. The <i>productive thing</i> that i like! that i'll sacrifice time to playing games, playing with friends, or watching animes for it.</p>
        <p><u>I like to make some projects for improving my coding skill</u>. I always find some time for coding. When i go to school, when i go to my hometown, even when i go to mall or supermarket. I always want to improve my coding skills everywhere with whether using smartphone or laptop.</p>
    </div>
</section>
