---
import { links } from "../typescript/data";
import "../styles/footer.css";
import { Image } from "astro:assets";

---

<section class="footer">
    <h1>Ridwan Bagoes Setiawan</h1>
    <div class="links">
        {
            links.map((link, index) => (
                <a href={link.url} class="link smooth" data-smooth-delay={300*index}>
                    <p>{link.name}</p>
                    <Image src={link.icon} alt={link.name + " icon"} width={50} height={50} />
                </a>
            ))
        }
    </div>
</section>
