---
import { Image } from "astro:assets"
import profile_picture from "../images/profile-picture.webp";
import ArrowDown from "./arrow_down.astro";

---
<section class="section hero">
    <div class="hero_container">
        <div class="profile_info">
            <p class="smooth greeting" data-smooth-delay="100">Hello! i'm,</p>
            <h1 class="smooth profile_name" data-smooth-delay="350">Ridwan Bagoes Setiawan</h1>
            <p class="smooth profile_description" data-smooth-delay="600">FullStack Engineer</p>
            <button class="smooth call_to_action" data-smooth-delay="1000" onclick="window.location.href = '#about_me'">Find More About Me &RightArrow;</button>
        </div>
        <div class="profile_picture">
            <Image 
            src={profile_picture} 
            alt="profile picture" 
            width={360}
            widths={[profile_picture.width/4, Math.ceil(profile_picture.width/3), profile_picture.width/2]} 
            sizes={`(max-width: 550px) ${profile_picture.width/2}px, (max-width: 850px) ${Math.ceil(profile_picture.width/3)}px, ${Math.ceil(profile_picture.width/3)}px`} 
            class="smooth profile_image" data-smooth-delay="500" />
        </div>
    </div>
    <div class="decoration"></div>
    <div class="down_arrow smooth" data-smooth-delay="1200">
        <a href="#about_me">
            <ArrowDown />
        </a>
    </div>
</section>