---
import RealmLogo from "../images/realm-logo.svg";
import { Image } from "astro:assets";
import "../styles/navbar.css";

---

<nav class="navbar">
    <a href="/" class="home">
        <Image src={RealmLogo} alt="Realm Logo" width={100} fetchpriority="high" />
    </a>
    <ul>
        <li><a href="/#about_me">About Me</a></li>
        <li><a href="/#showcase">Showcase</a></li>
        <li><a href="/public/Ridwan Bagoes Setiawan CV.pdf" download>My CV</a></li>
    </ul>
</nav>