---

interface Props {
    title:string,
};

const { title }  = Astro.props; 

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Ridwan Bagoes Setiawan Profile Website">
		<title>{title}</title>
	</head>
	<body>
        <slot />
		<script src="../typescript/appear.ts" />
	</body>
</html>

<style is:global>
    * {
        font-family: 'fira code', calibri;
		color: white;
		user-select: none;
		margin:0;
		padding:0;
		font-weight: 300;
		scroll-behavior: smooth;
    }

	html {
		overflow: hidden auto;
		width: 100vw;
		height: 100vh;
	}
	
	body {
		overflow: hidden auto;
		background-color: #205;
		min-height: 100vh;
	}

	button {
		background-color: #205;
		border: none;
		padding: 5px 15px;
		cursor: pointer;
	}

	::-webkit-scrollbar {
		width: 5px;
		background-color: #111;
	}

	::-webkit-scrollbar-thumb {
		background: #50c;
	}

	@media (max-width: 600px) {
		html {
			font-size: 12px;
		}
	}

	.smooth.appear {
		transform: translateX(0);
		transition: 1.25s;
	}

	.smooth:not(.appear) {
		opacity: 0 !important;
		transform: translateX(-10%) !important;
	}
</style>